h1, h2, h3, h4, h5, h6{
    text-align: center;
}

.form-dialogue {
    position: fixed;
    z-index:1001;
    background-color: white;
    width: 600px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
    border : 1px solid grey;
    padding: 10px;
}

td, th{
    text-align: center;
    padding: 0;
}

.table-bordered tr:hover{
    background-color: lightgray;
}

.table-bordered > tbody > tr > td{
    padding: 0;
    height: 36px;
    vertical-align: middle;
}

.btn-close{
    font-size: 20px;
    margin-bottom: 5px;
}

.elt-clickable:hover{
    cursor:  pointer;
}

.nav-popup{
    margin-bottom: 25px;
}

.form-horizontal .check-form {
    margin-bottom: 10px;
}

.glyphicon{
    vertical-align: bottom;
    top: 10px;
}

.btn-close{
    top: 0px;
}